@import "../styles.scss";

footer {
  .footer {
    @include grid3(1px solid, 1px solid);
    .footer__left {
      @include leftSide(100%);
      // border-right: 1px solid $borderColor;
      // height: 100%;
    }
    .footer__right {
      @include rightSide(100%);
      // border-left: 1px solid $borderColor;
      // height: 100%;
    }
    .footer__center {
      @include gridInner;
      .footer__info {
        @include boxClip($footerBg);
        .logo {
          width: 100%;
          max-width: 140px;
          padding: 20px 0px 10px 20px;
        }
        h3 {
          @include title($myH3, $myBold, 0, 10px 0px 10px 20px);
        }
      }
      .footer__info:nth-child(1n) {
        @include border1;
        // padding: 0.5em 0.5em 0 0.5em;
      }
      .footer__info:nth-child(2n) {
        @include border2;
        // padding: 0 0.5em 0 0.5em;
      }
      .footer__info:nth-child(3n) {
        @include border3;
        // padding: 0 0.5em 0.5em 0.5em;
      }
    }
  }
  .post-footer {
    @include grid3(none, none);
    .post-footer__left {
      @include leftSide(10px);
      // height: 10px;
    }
    .post-footer__right {
      @include rightSide(10px);
      // height: 10px;
    }
  }
}

@media (min-width: 600px) {
  footer {
    .footer {
      .footer__center {
        .footer__info {
          .logo {
            width: 100%;
            max-width: 140px;
            padding: 20px 0px 10px 20px;
          }
          h3 {
            @include title($myH3, $myBold, 0, 20px 0px 10px 20px);
          }
        }
      }
    }
  }
}
