@import "../styles.scss";

.form {
  font-family: $paragraphFont;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
}

/* The input fields */
.form input.text,
.form textarea.standard,
.form select,
.form input.date {
  background-color: transparent;
  border: solid 1px;
  font-size: 15px;
  // color: $inputColor;
  @include themed() {
    color: t("text");
    border-color: border;
  }
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  font-family: $paragraphFont;
  box-sizing: border-box;
  margin: 8px 0;
}
/* the input fields on focus */
.form input.text:focus,
.form textarea.standard:focus,
.form select:focus,
.form input.date:focus {
  @include themed() {
    border-color: border;
  }
  outline: none;
}

/* the submit button */
.form .submit {
  margin: 0;
  background-color: rgba(30, 30, 30, 0.2);
  border: solid 1px;
  @include themed() {
    color: t("text");
    border-color: border;
  }
  font-size: 16px;
  // color: $inputColor;
  font-weight: normal;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  width: 100%;
  margin-top: 8px;
}
/* the submit button hover */
.form .submit:hover {
  background-color: rgba(30, 30, 30, 0.35);
  @include themed() {
    color: t("text");
    border-color: border;
  }
}

input::placeholder {
  @include themed() {
    color: t("text");
  }
}

::-webkit-calendar-picker-indicator {
  @include themed() {
    filter: t("icon");
  }
}

.reservation-ok {
  text-align: center;
  margin-top: 10px;
}
