@import "../styles.scss";

.form {
  font-family: $paragraphFont;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
}

/* The input fields */
.form input.text,
.form textarea.standard,
.form select,
.form input.date {
  background-color: transparent;
  border: solid 1px $borderColor;
  font-size: 15px;
  color: $inputColor;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  font-family: $paragraphFont;
  box-sizing: border-box;
  margin: 8px 0;
}
/* the input fields on focus */
.form input.text:focus,
.form textarea.standard:focus,
.form select:focus,
.form input.date:focus {
  border-color: rgba(30, 30, 30, 0.3);
  outline: none;
}

/* the submit button */
.form .submit {
  margin: 0;
  background-color: rgba(30, 30, 30, 0.2);
  border: solid 1px $borderColor;
  font-size: 16px;
  color: $inputColor;
  font-weight: normal;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  width: 100%;
  margin-top: 8px;
}
/* the submit button hover */
.form .submit:hover {
  background-color: rgba(30, 30, 30, 0.35);
  border-color: $borderColor;
  color: $inputColor;
}

/* the field labels */
// .form label {
//   font-size: 15px;
//   color: #1e1e1e;
//   font-weight: normal;
//   padding-top: 10px;
//   padding-bottom: 5px;
//   float: none;
//   text-align: left;
//   width: auto;
//   display: block;
// }
/* the spacing around the submit button */
// .form .submit {
//   margin: 0;
//   padding-top: 10px;
//   padding-bottom: 0px;

// }
/* hide the regular checkbox */
// .pd-checkbox input {
//   opacity: 0;
//   position: absolute;
// }
/* position the label */
// .pd-checkbox input,
// .pd-checkbox label {
//   display: inline-block;
//   vertical-align: middle;
//   margin: 5px;
//   cursor: pointer;
// }
// .pd-checkbox label {
//   position: relative;
// }
/* style the unchecked checkbox */
// .pd-checkbox input + label:before {
//   content: "";
//   background: transparent;
//   border: 1px solid#1e1e1e;
//   display: inline-block;
//   vertical-align: middle;
//   width: 20px;
//   height: 20px;
//   padding: 0px;
//   margin-right: 10px;
//   text-align: center;
//   font-size: 15px;
//   line-height: normal;
//   border-radius: 5px;
//   -moz-border-radius: 5px;
//   -webkit-border-radius: 5px;
// }
/* style the checked checkbox */
// .pd-checkbox input:checked + label:before {
//   content: "\2713";
//   background: rgba(30, 30, 30, 0.295);
//   color: #1e1e1e;
//   border-color: #1e1e1e;
// }
// form.form p.no-label {
//   margin-left: 0 !important;
// }

/* hide the regular radio button */
// .pd-radio input {
//   opacity: 0;
//   position: absolute;
// }
/* position the label */
// .pd-radio input,
// .pd-radio label {
//   display: inline-block;
//   vertical-align: middle;
//   margin: 5px;
//   cursor: pointer;
// }
// .pd-radio label {
//   position: relative;
// }
/* style the unchecked radio button */
// .pd-radio input + label:before {
//   content: "";
//   background: transparent;
//   border: 1px solid#1e1e1e;
//   display: inline-block;
//   vertical-align: middle;
//   width: 20px;
//   height: 20px;
//   padding: 0px;
//   margin-right: 10px;
//   text-align: center;
//   font-size: 15px;
//   line-height: normal;
//   border-radius: 5px;
//   -moz-border-radius: 5px;
//   -webkit-border-radius: 5px;
// }
// .pd-radio input + label:before {
//   border-radius: 50%;
// }
/* style the selected radio button */
// .pd-radio input:checked + label:before {
//   content: "\25CF";
//   background: rgba(30, 30, 30, 0.295);
//   color: #1e1e1e;
//   border-color: #1e1e1e;
// }
