@import "../styles.scss";

.navigation {
  @include grid3(1px solid $borderColor, 1px solid $borderColor);
  .navigation__left {
    @include leftSide(100%);
  }
  .navigation__right {
    @include rightSide(100%);
  }
  .navigation__center {
    @include boxPadding;
  }
}

.pre-navigation {
  @include grid3(none, none);
  .pre-navigation__left {
    @include leftSide(10px);
  }
  .pre-navigation__right {
    @include rightSide(10px);
  }
}

// Bootstrap elements
.nav-logo {
  width: 100%;
  max-width: 140px;
}

.nav-offcanvas-logo {
  width: 100%;
  max-width: 110px;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../../../public/images/menu-icon.svg) !important;
}

/**/

a.nav-item {
  background-image: linear-gradient(to right, $navLinkHover, $navLinkHover 50%, $navLink 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a.nav-item:before {
  content: "";
  background: $navLinkHover;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a.nav-item:hover {
  background-position: 0;
}

a.nav-item:hover::before {
  width: 100%;
}

button.login-out {
  background-color: $bodyBg;
  border: none;
  outline: none;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  svg {
    width: 50px;
    height: 50px;
    opacity: 1;
    transition: opacity 0.3s ease 0s;
    color: $logIcon;
    &:hover {
      opacity: 0.5;
    }
  }
}
