@import "../styles.scss";
@import "../theme/theme";

.title {
  @include grid3(1px solid, 1px solid);
  .title__left {
    @include leftSide(auto);
  }
  .title__right {
    @include rightSide(auto);
  }
  .title__center {
    // @include boxClip($titleBg);
    @include boxClip(none);
    @include boxPadding;
    h2 {
      @include title($myH2, $myBold, 0, 20px, 0, 20px);
      text-align: center;
    }
  }
}

.greenBg {
  // background-color: $titleBg;
  @include themed() {
    background-color: t("greenBG");
  }
  width: 100%;
  height: 100%;
}

.blueBg {
  // background-color: $titleBg2;
  @include themed() {
    background-color: t("blueBG");
  }
  width: 100%;
  height: 100%;
}
