@import "../styles.scss";
@import "../theme/theme";

.user-data {
  @include grid3(none, none);

  .user-data__left {
    @include leftSide(100%);
  }
  .user-data__right {
    @include rightSide(100%);
  }
  .user-data__center {
    @include gridInner2;
    min-height: calc(100vh - 310px);
    .user-data__col {
      @include boxPadding;
      @include boxClip(transparent);
      @include themed() {
        color: t("text");
      }
      .reservation-btn {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0px;
      }
      .reservation-info__title {
        @include title($myH5, $myBold, 0, 10px 0px 0 10px, 0, 16px 0px 0px 16px);
      }
      .reservation-info {
        display: flex;
        justify-content: space-between;
        @include boxPadding;
        .reservation-info__texts {
          .reservation-info__paragraph {
            @include paragraph($myP, $myMedium, 0, 0 0 10px 0, 0, 0 0 10px 0px);
            @include themed() {
              color: t("text");
            }
            span {
              // color: $inputColor;
              @include themed() {
                color: t("text");
              }
            }
          }
        }
        .reservation-info_cancel {
          background-color: transparent;
          // color: $btnTextColor;
          @include themed() {
            color: t("text");
            border-color: t("border");
          }
          outline: none;
          border: 1px solid;
          transition: background-color 0.2s ease 0s, color 0.3s ease 0s;
          height: 23px;
          min-width: 65px;
          align-self: flex-end;
          &:hover {
            background-color: $btnDashboardHover;
            color: $btnTextColorHover;
          }
        }
      }
      .change-data {
        @include boxPadding;
        width: 100%;
        .change-data__form {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          width: 100%;
          .change-data__left {
            display: flex;
            .change-data__lable {
              @include paragraph($myP, $myMedium, 0, 0, 0, 0);
              @include themed() {
                color: t("text");
              }
            }
            input.change-data__input {
              outline: none;
              border: 0px;
              @include paragraph($myP, $myMedium, 0, 0 0 0 3px, 0, 0 0 0 3px);
              // color: $inputColor;
              background-color: transparent;
              width: 100%;
              @include themed() {
                color: t("text");
              }
            }
          }
          .change-data__right {
            display: flex;
            .change-data_edit-icon {
              font-size: 20px;
            }
            .change-data__button {
              @include themed() {
                color: t("text");
                background: t("bg");
                border-color: t("border");
              }
              margin-left: 10px;
              background-color: transparent;
              color: $btnTextColor;
              outline: none;
              border: 1px solid;
              transition: background-color 0.2s ease 0s, color 0.3s ease 0s;

              &:hover {
                background-color: $btnDashboardHover;
                color: $btnTextColorHover;
              }
            }
          }
        }
      }
    }
    .user-data__col:nth-child(1n) {
      @include border1;
    }
    .user-data__col:nth-child(2n) {
      @include border3;
    }
  }
}

// @media (min-width: 600px) {
//   .user-data {

//     .user-data__center {

//       .user-data__col {

//           .reservation-info_cancel {
//             background-color: transparent;
//             color: $btnTextColor;
//             outline: none;
//             border: 1px solid $borderColor;
//             transition: background-color 0.2s ease 0s, color 0.3s ease 0s;
//             height: 23px;
//             min-width: 65px;
//             align-self: flex-end;
//             &:hover {
//               background-color: $btnDashboardHover;
//               color: $btnTextColorHover;
//             }
//           }
//         }
//         .change-data {

//           .change-data__form {

//             .change-data__right {

//               .change-data_edit-icon {
//                 font-size: 20px;
//               }
//               .change-data__button {

//                 margin-left: 10px;
//                 background-color: transparent;
//                 color: $btnTextColor;
//                 outline: none;
//                 border: 1px solid $borderColor;
//                 transition: background-color 0.2s ease 0s, color 0.3s ease 0s;

//                 &:hover {
//                   background-color: $btnDashboardHover;
//                   color: $btnTextColorHover;
//                 }
//               }
//             }
//           }
//         }
//       }
//       .user-data__col:nth-child(1n) {
//         @include border1;
//       }
//       .user-data__col:nth-child(2n) {
//         @include border3;
//       }
//     }
//   }
// }
