@import "../styles.scss";
@import "../theme/theme";

.user-data {
  @include grid3(none, none);
  .user-data__left {
    @include leftSide(100%);
  }
  .user-data__right {
    @include rightSide(100%);
  }
  .user-data__center {
    @include gridInner2;

    .user-data__col {
      @include boxPadding;
      @include boxClip(#cccccc);
      .reservation-info__title {
        @include title($myH5, $myBold, 0, 10px 0px 0 10px, 0, 20px 0px 0px 20px);
      }
      .reservation-info {
        display: flex;
        justify-content: space-between;
        @include boxPadding;
        .reservation-info__texts {
          .reservation-info__paragraph {
            @include paragraph($myP, $myMedium, 0, 0 0 10px 0, 0, 0 0 10px 0px);
            span {
              color: $inputUserData;
            }
          }
        }
        .reservation-info_cancel {
          background-color: transparent;
          color: $btnTextColor;
          outline: none;
          border: 1px solid $borderColor;
          transition: background-color 0.2s ease 0s, color 0.3s ease 0s;
          height: 23px;
          min-width: 65px;
          align-self: flex-end;
          &:hover {
            background-color: $btnDashboardHover;
            color: $btnTextColorHover;
          }
        }
      }
      .change-data {
        @include boxPadding;
        width: 100%;
        .change-data__form {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          width: 100%;
          .change-data__left {
            display: flex;
            .change-data__lable {
              @include paragraph($myP, $myMedium, 0, 0, 0, 0);
            }
            input.change-data__input {
              outline: none;
              border: 0px;
              @include paragraph($myP, $myMedium, 0, 0 0 0 3px, 0, 0 0 0 3px);
              color: $inputUserData;
              background-color: transparent;
              width: 100%;
            }
          }
          .change-data__right {
            display: flex;
            .change-data_edit-icon {
              font-size: 20px;
            }
            .change-data__button {
              // @include themed() {
              //   color: t("text");
              //   background: t("bg");
              // }
              margin-left: 10px;
              background-color: transparent;
              color: $btnTextColor;
              outline: none;
              border: 1px solid $borderColor;
              transition: background-color 0.2s ease 0s, color 0.3s ease 0s;

              &:hover {
                background-color: $btnDashboardHover;
                color: $btnTextColorHover;
              }
            }
          }
        }
      }
    }
    .user-data__col:nth-child(1n) {
      @include border1;
    }
    .user-data__col:nth-child(2n) {
      @include border3;
    }
  }
}

// @media (min-width: 600px) {
//   .user-data {

//     .user-data__center {

//       .user-data__col {

//           .reservation-info_cancel {
//             background-color: transparent;
//             color: $btnTextColor;
//             outline: none;
//             border: 1px solid $borderColor;
//             transition: background-color 0.2s ease 0s, color 0.3s ease 0s;
//             height: 23px;
//             min-width: 65px;
//             align-self: flex-end;
//             &:hover {
//               background-color: $btnDashboardHover;
//               color: $btnTextColorHover;
//             }
//           }
//         }
//         .change-data {

//           .change-data__form {

//             .change-data__right {

//               .change-data_edit-icon {
//                 font-size: 20px;
//               }
//               .change-data__button {

//                 margin-left: 10px;
//                 background-color: transparent;
//                 color: $btnTextColor;
//                 outline: none;
//                 border: 1px solid $borderColor;
//                 transition: background-color 0.2s ease 0s, color 0.3s ease 0s;

//                 &:hover {
//                   background-color: $btnDashboardHover;
//                   color: $btnTextColorHover;
//                 }
//               }
//             }
//           }
//         }
//       }
//       .user-data__col:nth-child(1n) {
//         @include border1;
//       }
//       .user-data__col:nth-child(2n) {
//         @include border3;
//       }
//     }
//   }
// }
