////////////////////////
// Font Size definition
///////////////////////
$myFontSize1: clamp(30px, 3vw, 70px); // h1
$myFontSize2: clamp(24px, 4vw, 35px); // h2
$myFontSize3: clamp(22px, 4vw, 30px); // h3
$myFontSize4: clamp(20px, 4vw, 40px); // h4
$myFontSize5: clamp(18px, 2vw, 25px); // h5
$myFontSize6: clamp(16px, 2vw, 20px); // h6
$myFontSize7: clamp(13px, 2vw, 17px); // p

$myH1: $myFontSize1;
$myH2: $myFontSize2;
$myH3: $myFontSize3;
$myH4: $myFontSize4;
$myH5: $myFontSize5;
$myH6: $myFontSize6;
$myP: $myFontSize7;

////////////////////////
// Font Weight definition
///////////////////////
$myFontWeight1: 400;
$myFontWeight2: 700;

$myMedium: $myFontWeight1;
$myBold: $myFontWeight2;
