@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$myFont1: "Noto Serif", serif; // For titles
$myFont2: "Noto Sans", sans-serif; // For paragraphs

$titleFont: $myFont1;
$paragraphFont: $myFont2;
