// All Titles Mixine
@mixin title($size, $weight, $margin, $padding, $margin600, $padding600) {
  font-family: $titleFont; // Noto Serif
  color: $titleColor; // Black
  font-size: $size;
  font-weight: $weight;
  margin: $margin;
  padding: $padding;
  @media (min-width: 600px) {
    margin: $margin600;
    padding: $padding600;
  }
}

// All Titles Mixine
@mixin paragraph($size, $weight, $margin, $padding, $margin600, $padding600) {
  font-family: $paragraphFont; // Noto Serif
  color: $titleColor; // Black
  font-size: $size;
  font-weight: $weight;
  margin: $margin;
  padding: $padding;
  @media (min-width: 600px) {
    margin: $margin600;
    padding: $padding600;
  }
}

// Basic Grind for every layout main component
@mixin grid3($border-top, $border-bottom) {
  display: grid;
  grid-template-columns: 0.5em 1fr 0.5em;
  grid-template-rows: auto;
  border-color: $borderColor;
  border-top: $border-top;
  border-bottom: $border-bottom;
  @media (min-width: 600px) {
    grid-template-columns: 1em 1fr 1em;
  }
}
// for the left qhite side
@mixin leftSide($height) {
  border-right: 1px solid $borderColor;
  height: $height;
}

// for the right qhite side
@mixin rightSide($height) {
  border-left: 1px solid $borderColor;
  height: $height;
}

// For Inner 4 cols grid Menu
@mixin gridInner4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 0.5em;
  width: 100%;
  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  @media (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// For Inner 3 cols grid
@mixin gridInner3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// For Inner 2 cols grid
@mixin gridInner2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }
}

// For Inner 2 cols grid with gap
@mixin gridInner2Gap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 0.5em;
  width: 100%;
  @media (min-width: 600px) {
    grid-gap: 1em;
    grid-template-columns: 1fr;
  }
  @media (min-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }
}

// For Cliping BG color
@mixin boxClip($bgColor) {
  background: $bgColor;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-clip: content-box;
}

// For titles
@mixin boxPadding {
  padding: 0.5em 0.5em 0.5em 0.5em;
  @media (min-width: 600px) {
    padding: 1em 1em 1em 1em;
  }
}

// For 3 cols Clping with bg like Footer
@mixin border1 {
  padding: 0.5em 0.5em 0 0.5em;
  @media (min-width: 600px) {
    border-right: 1px solid $borderColor;
    padding: 1em 0 1em 1em;
  }
}

@mixin border2 {
  padding: 0 0.5em 0 0.5em;
  @media (min-width: 600px) {
    border-right: 1px solid $borderColor;
    padding: 1em 0 1em 0em;
  }
}

@mixin border3 {
  padding: 0 0.5em 0.5em 0.5em;
  @media (min-width: 600px) {
    border-right: none;
    padding: 1em 1em 1em 0em;
  }
}

// For Gallery single col
@mixin borderLeft {
  padding: 0.5em 0.5em 0 0.5em;
  @media (min-width: 600px) {
    border-right: 1px solid $borderColor;
    padding: 1em;
  }
}

@mixin borderRight {
  padding: 0.5em;
  @media (min-width: 600px) {
    border-right: none;
    padding: 1em;
  }
}

// for images like in gallery or in into
@mixin imagesCover($width, $margin, $padding, $margin600, $padding600) {
  width: $width;
  object-fit: cover;
  object-position: center;
  margin: $margin;
  padding: $padding;
  box-sizing: border-box;
  @media (min-width: 600px) {
    margin: $margin600;
    padding: $padding600;
  }
}
