////////////////////////
// Color definition
///////////////////////
$myColor1: #1e1e1e; // Black
$myColor2: #ffffff; // White
$myColor3: #dde3d5; // Light Green
$myColor4: #8e9783; // Dark Green
$myColor5: #e3d9d5; // Light Brown
$myColor6: #bcafaa; // Brown
$myColor7: #8d7c76; // Dark Brown
$myColor8: #d0e5ec; // Pale Blue
$myColor9: #7d8f95; // Dark Blue
$myColor10: #494949; // Grey

$titleColor: $myColor1;
$footerBg: $myColor6;
$borderColor: $myColor1;
$titleBg: $myColor3;
